body{
    background-color: #000000;
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    overflow: hidden;

}

/*  --- VIDEO --- */
video{
    transform: translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    width: 100vw;
    height:auto;
    z-index:-1000;
}

#botao_pausa{
    position:absolute;
    left:13vw;
    top:0;
    z-index:40;
    width:74vw;
    height:88vh;
    opacity: 0;
}

#botao_pausa:hover{
    cursor:pointer;
}

/* --- NAV CIDADES --- */
.nav_cid{
    opacity: 80%;
    width:3.5vw;
    height:3.5vw;
    z-index:50;

}

.nav_cid:hover{
    opacity:100%;
    cursor:pointer;
}

/* --- NAV VARIACOES CIDADE --- */
.nav_vid{
    opacity: 80%;
    width:2.5vw;
    height:5vw;
    z-index:50;

}

.nav_vid:hover{
    cursor:pointer;
    opacity:100%;
}

/* --- BOTAO INFO --- */
#info{
    width:auto;
    height:3vw;
    z-index:50;
}

/* --- NOME CIDADE --- */
#nomeCidade{
    height:3vw;
    width:10vw;
    opacity:80%;
    border-radius: 0 0 3.5vw 3.5vw;
    background-color: black;
    font-size: 1.5vw;
    color:white;
    font-family: Oswald, E sans-serif;
    text-align: center;
    align-content: flex-start;

}

#nomeCidade p{
    margin:0.2vw 0 0.7vw 0;

}

#cont_nav{
    display:flex;
    position:absolute;
    width:100vw;
    height:100vh;
    justify-content: space-between;
    flex-direction: column;
    top:0;
    left:0;
}

.nav_hori{
    display:flex;
    width:100vw;
    height:auto;
    justify-content: space-between;
    flex-direction: row;
}

#info{
    opacity: 80%;
}

#info:hover{
    opacity:100%;
    cursor:pointer;
}

p{
    margin:1vw;
    color:white;
    font-size: 1.5vw;
}

#myRange{
    display:none;
}