body{
    background-color: #000000;
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    overflow: hidden;

}

/*  --- VIDEO --- */
video{
    transform: translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    width: 100vw;
    height:auto;
    z-index:-1000;
}

#botao_pausa{
    position:absolute;
    left:13vw;
    top:0;
    z-index:40;
    width:74vw;
    height:88vh;
    opacity: 0;
}

#botao_pausa:hover{
    cursor:pointer;
}

/* --- NAV CIDADES --- */
.nav_cid{
    width:4vw;
    height:4vw;
    z-index:50;

}

/* --- NAV VARIACOES CIDADE --- */
.nav_vid{
    width:4vw;
    height:4vw;
    z-index:50;

}

/* --- BOTAO INFO --- */
#info{
    width:4vw;
    height:4vw;
    z-index:50;
}

#cont_nav{
    display:flex;
    position:absolute;
    width:100vw;
    height:100vh;
    justify-content: space-between;
    flex-direction: column;
    top:0;
    left:0;
}

.nav_hori{
    display:flex;
    width:100vw;
    height:auto;
    justify-content: space-between;
    flex-direction: row;
}


p{
    margin:1vw;
    color:white;
    font-size: 1.5vw;
}

#myRange{
    display:none;
}